{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="background">
        <div class="box-center">
            <h1>Passwort zurücksetzen</h1>
                <p>
                    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                </p>
        </div>
    </div>
{% endblock %}