{% trans_default_domain 'FOSUserBundle' %}

<div class="background">
    <div class="box-center">
        <h1>Passwort zurücksetzen</h1>

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="username" required="required" />
            </div>
            <div>
                <input class="btn btn-default" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>

        <hr />

        <div class="forgot-pw">
            <a href="/login">Anmelden</a>
            <a href="/register">Registrieren</a>
        </div>
    </div>
</div>
