{% extends 'base.html.twig' %}

{% block content %}
    {% include 'components/sidebar.html.twig' %}

    <div class="content">
        <div class="header">
            <h1>Anwesenheitsliste</h1>

            <div class="abolegend">
                <div class="abos">
                    <p>Einzelstunde</p>
                    <p>Schnupperstunde</p>
                    <p>10er Abo</p>
                    <p>Jahresabo</p>
                </div>
                <div class="colors">
                    <input id='colorpicker-einzelstunde' />
                    <input id='colorpicker-schnupperstunde' />
                    <input id='colorpicker-zehnerabo' />
                    <input id='colorpicker-jahresabo' />
                </div>
            </div>
        </div>
        <div class="spinner">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>

        <div class="filter">
            <div id="daterangepicker" class="form-control" style="cursor: pointer;">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <div class="attendance">
            <div id="attendance-table"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/attendance.js') }}" async defer></script>
{% endblock %}