{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Anwesenheitsliste</h1>

        <div class="abolegend">
            <div class="abos">
                <p>Einzelstunde</p>
                <p>Schnupperstunde</p>
                <p>10er Abo</p>
                <p>Jahresabo</p>
            </div>
            <div class="colors">
                <span class="einzelstunde"></span>
                <span class="schnupperstunde"></span>
                <span class="zehnerabo"></span>
                <span class="jahresabo"></span>
            </div>
        </div>
        <div class="spinner">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div id="attendance-table"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/attendance.js') }}" async defer></script>
{% endblock %}