{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Dashboard</h1>
        <div style="width: 45%">
            <div class="spinner">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <canvas id="billsAndPaymentsChart"></canvas>
        </div>
        <div style="width: 45%">
            <div class="spinner">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <canvas id="customersChart"></canvas>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/dashboard.js') }}" async defer></script>
{% endblock %}
