{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Dashboard</h1>
        <div style="width: 45%">
            <canvas id="billsAndPaymentsChart"></canvas>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/dashboard.js') }}" async defer></script>
{% endblock %}
