{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        {{ form_start(editForm, {'attr': {'id': 'editForm'}}) }}
        {{ form_widget(editForm) }}
        {{ form_end(editForm) }}
        <input class="btn btn-default" name="submit" type="submit" form="editForm" value="Speichern und zurück"/>
        <a class="btn btn-default" href="/public/{{ site }}">Abbrechen</a>
    </div>
{% endblock %}