{% extends 'base.html.twig' %}

{% block content %}

    <div id="root"></div>

{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/runtime.js') }}" async defer></script>
    <script src="{{ asset('build/index.js') }}" async defer></script>
{% endblock %}
