{% extends 'base.html.twig' %}

{% block content %}

    <div id="root"></div>

{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/customer.js') }}" async defer></script>
{% endblock %}