@import "../variables"

.header
  display: flex
  justify-content: space-between

  .abolegend
    float: right
    display: flex
    position: relative
    margin: 0 45px 20px 45px

    .abos
      margin: 10px 40px 0 0

    .colors
      display: flex
      flex-direction: column

      input
        margin: 4px 0

      .sp-replacer
        background: #ffffff
        border: none
        border-radius: 50%

        .sp-preview,
        .sp-preview-inner
          border-radius: 50%
          width: 22px
          height: 22px
          border: none

        .sp-dd
          display: none

.filter
  display: flex
  align-items: flex-end
  justify-content: flex-end
  margin-bottom: 20px

  #daterangepicker
    width: auto

.attendance
  display: flex
  align-items: center

  #attendance-table
    width: 100%
    overflow-x: scroll
    overflow-y: visible

    table
      thead tr:nth-child(2) th
        min-width: 90px

      thead tr th:first-child
        min-width: 200px
        max-width: 200px
        width: 200px
        border: none

      tr
        height: 35px

      td
        &:first-child
          font-weight: bold
          position: absolute
          width: 200px
          height: 35px
          margin: 0 0 0 -1px
          background: #ffffff
          border-top-width: 1px

        &:not(:first-child)
          text-align: center

        i
          color: #ffffff

      .abo
        cursor: pointer

      span
        display: block
        background-color: lightgray
        position: absolute