@import "../variables"

.header
  display: flex
  justify-content: space-between

  .abolegend
    float: right
    display: flex
    position: relative
    margin: 0 50px 20px 50px

    .abos
      margin: 10px 40px 0 0

    .colors
      display: flex
      flex-direction: column

      input
        margin: 4px 0

.filter
  display: flex
  align-items: flex-end
  justify-content: flex-end
  margin-bottom: 20px

  #daterangepicker
    width: auto

.attendance
  display: flex
  align-items: center

  #attendance-table
    width: 100%
    overflow-x: scroll
    overflow-y: visible

    table
      thead tr:nth-child(2) th
        min-width: 90px

      thead tr th:first-child
        min-width: 200px
        max-width: 200px
        width: 200px
        border: none

      tr
        height: 35px

      td
        &:first-child
          font-weight: bold
          position: absolute
          width: 200px
          height: 35px
          margin: 0 0 0 -1px
          background: #ffffff
          border-top-width: 1px

        &:not(:first-child)
          text-align: center

        i
          color: #ffffff

      .abo
        cursor: pointer

      .einzelstunde
        background: $einzelstunde

      .schnupperstunde
        background: $schnupperstunde

      .zehnerabo
        background: $zehnerabo

      .jahresabo
        background: $jahresabo

      span
        display: block
        background-color: lightgray
        position: absolute