.content
  margin-left: 250px
  padding: 50px

  input[type="search"]
    width: 150px
    height: 20px

  .modal
    #addCustomerForm
      //input[type="text"],
      //input[type="email"],
      //input[type="number"],
      //.radio-label,
      //.date-with-label
      //  width: 40%
      //  margin: 10px 15px
      //
      //input[name="email"]
      //  margin-right: 40%