.content
  margin-left: 250px
  padding: 50px

  input[type="search"]
    width: 150px
    height: 20px
    float: left

  .message-deactivate
    float: left
    background-color: rgb(235, 17, 35)
    color: white
    padding: 8px 20px
    margin-left: 50px
    border-radius: 5px