.content
  margin-left: 250px
  padding: 50px

  .filter-options
    display: flex
    margin: 10px 0

    .btn
      margin: 0 20px

  form
    height: 440px

    .form-field
      display: flex

      .form-group
        flex-grow: 1

      span
        color: red
        width: 10px
        display: block

    .mandatory
      margin: 15px

      span
        color: red

  .pagination-wrapper
    display: flex

    .pagination
      margin: 10px auto

  .table-wrapper
    width: 700px

  input[type="search"]
    width: 150px
    height: 20px