<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Buchhaltung - tibetischesyoga.ch{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="container-fluid">
<div class="sidebar">
    <a href=""><img class="logo" src="{{ asset('build/images/logo.png') }}" alt="Lu Jong Tibetisches Yoga Logo"/></a>
    <ul>
        <li class="sidebar-menu-item"><a href="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
        <li class="sidebar-menu-item"><a href="/customers"><i class="fa fa-address-card" aria-hidden="true"></i>Kunden verwalten</a></li>
        <li class="sidebar-menu-item"><a href=""><i class="fa fa-file-text" aria-hidden="true"></i>Rechnung</a></li>
        <li class="sidebar-menu-item"><a href=""><i class="fa fa-credit-card" aria-hidden="true"></i>Zahlungen</a></li>
    </ul>
</div>

{% block content %}{% endblock %}

<script src="{{ asset('build/app.js') }}" async defer></script>
{% block javascripts %}{% endblock %}
</body>
</html>
