<div class="sidebar">
    <a href="/"><img class="logo" src="{{ asset('build/images/logo.3a97e839.png') }}" alt="Lu Jong Tibetisches Yoga Logo"/></a>
    <ul>
        <li class="sidebar-menu-item"><a href="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
        <li class="sidebar-menu-item"><a href="/customers"><i class="fa fa-address-card" aria-hidden="true"></i>Kunden</a></li>
        <li class="sidebar-menu-item"><a href="/attendance"><i class="fa fa-calendar" aria-hidden="true"></i>Anwesenheitsliste</a></li>
        <li class="sidebar-menu-item"><a href="/bill"><i class="fa fa-file-text" aria-hidden="true"></i>Abonnemente</a></li>
        <li class="sidebar-menu-item"><a href="/abo"><i class="fa fa-files-o" aria-hidden="true"></i>Abos verwalten</a></li>
        <li class="sidebar-menu-item"><a href="/payment"><i class="fa fa-credit-card" aria-hidden="true"></i>Zahlungen</a></li>
        <li class="sidebar-menu-item"><a href="/hour"><i class="fa fa-clock-o" aria-hidden="true"></i>Stunden</a></li>
        <li class="sidebar-menu-item"><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>{{ app.user.username }}</a></li>
        <li class="sidebar-menu-item"><a href="/logout"><i class="fa fa-power-off" aria-hidden="true"></i>Abmelden</a></li>
    </ul>
</div>
